.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9fa8da;
  padding: 20px 0;
  color: white;
}

.navbar i {
  transform: scale(2);
  cursor: pointer;
}

.navbar p {
  font-size: 1.5em;
  margin-right: 500px;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

sup {
  color: white;
  padding: 2px;
  border-radius: 50%;
  background-color: green;
  font-size: 7px;
  position: relative;
  bottom: 5px;
}
